<!DOCTYPE html>
<html ng-app="TubeTravelApp" lang="en" class="demo-1 no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Tube Traveler</title>
		<meta name="description" content="A tutioral how to create awesome and great looking Video Parallax Background by using CSS3. Video parallax is modify version of full screen video background." />
		<meta name="keywords" content="Video Parallax Background, parallax background, parallax effect, parallax video backgroun" />
		<meta name="author" content="Codeconvey" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/cssparallax.css" />

		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-47356263-1', 'codeconvey.com');
		  ga('send', 'pageview');
		 
		</script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
    <script src="path/to/angular.js"></script>
    <script src="path/to/angular-sanitize.js"></script>
    <script src="app/app.js"></script>
	</head>
	<body ng-controller="HomeCtrl">
    <div data-ng-init="getYear()"></div>
		<div class="main">
        
			
            
            <!-- Top Navigation -->
<!-- 			<div class="cctop clearfix">
               <a href="http://codeconvey.com/Tutorials/css-tabs/"><span><i class="fa fa-arrow-left"></i> Previous Demo</span></a>
               <span class="right"><a href="http://codeconvey.com/?p=580"><span><i class="fa fa-edit"></i> Back to the Codeconvey Article</span></a></span>
			</div> -->
            
           
			<div class="wrapper">
				
                <div class="ccparallaxeff">

                <!--     <div class="plax ccparallax ccparallax-one">
                      <div class="container">
                        	<h1>Tube Traveler</h1>
                      </div>
                    </div>
                     -->
                     <div class="crt-parallaxvideo">
                     <iframe autoplay id="player" type="text/html" width="100%" height="150%" 
                      ng-src="{{ 'http://www.youtube.com/embed/' + youtubeId + '?autoplay=1'}}"
                      frameborder="0"></iframe>
                        
                    </div>
                    <div class="plax content">
                      <div class="container">
                        <div class="headlines">
                        <br><br>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="plax content">
                      <div class="container">
                        <div class="headlines">
                        <div id="timeRange">
                          The year is <code>{{year}}</code><br>
                          <input type="range" name="range" min="{{min}}"  max="{{max}}" ng-model="year">
                          <br>
                          <button type="button" ng-click="getYear()">Time Machine</button><br><br>
                          <h1>Welcome to Tube Travlr</h1>

                          <div class="card" ng-repeat="image in images">
                            <img ng-src="{{ image.url }}">
                          </div>

                        </div>
                        </div>
                        <div class="contentarea">

                        </div>
                      </div>
                    </div>

          
                    <div class="plax ccparallax">
                      <div class="container">
                        <div class="row">
                        <form class="col s12">
                          <div class="row">
                            <div class="input-field col s12">
                              <textarea id="textarea1" ng-model="newComment" class="materialize-textarea"></textarea>
                              <br><br>
                              <button>Comment</button>
                              <label for="textarea1"></label>
                            </div>
                          </div>
                        </form>
                      </div>
                      </div>
                    </div>
                    
                    
                    
                    
                    <!-- <div class="plax content">
                      <div class="container">
                        <div class="headlines">
                            <h2>Nice Effect</h2>
                            <p>All in just one place</p>
                        </div>                     
                      </div>
                    </div>
                    
                    
                    
                    <div class="plax ccparallax ccparallax-three">
                      <div class="container">
                        <h1>Design as you want</h1>
                      </div>
                    </div>
                    
                    <div class="plax content">
                      <div class="container">
                        <ul class="comment-list">
                              <li ng-repeat="comment in comments">
                                <p>{{ comment.content }}</p>
                              </li>
                            </ul>
                        <div class="headlines">
                            <h2>The End</h2>
                            <p>Thanks for visting</p>
                        </div>
                      </div>
                    </div>
                </div> -->
                
			</div>
             
			
		</div><!-- /container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</body>
</html>